<div *ngIf="data.activo">
  <h3 mat-dialog-title>
    {{ 'POP_BORRAR' | translate : {nombre: data.nombre, clave: data.clave } }}
  </h3>
  <div mat-dialog-content>
    <p>
      {{ 'POP_BORRAR_CL' | translate }}
    </p>
  </div>
  <div mat-dialog-actions>
    <div class="center">
      <button mat-button color="primary" (click)="onNoClick()">{{ 'CANCELAR' | translate }}</button>
      <button mat-button color="primary" (click)="borrar()" cdkFocusInitial>
        {{ 'ELIMINAR' | translate }}
      </button>
    </div>
  </div>
</div>

<div *ngIf="!data.activo">
  <h3 mat-dialog-title>
    {{ 'POP_ACTIVAR' | translate : {nombre: data.nombre, clave: data.clave } }}
  </h3>
  <div mat-dialog-content>
    <p>
      {{ 'POP_ACTIVAR_CL' | translate }}
    </p>
  </div>
  <div mat-dialog-actions>
    <div class="center">
      <button mat-button color="primary" (click)="onNoClick()">{{ 'CANCELAR' | translate }}</button>
      <button mat-button color="primary" (click)="borrar()" cdkFocusInitial>
        {{ 'ACTIVAR' | translate }}
      </button>
    </div>
  </div>
</div>