<mat-card>
    <form>
      <mat-card-title>{{ 'DATOS_EMPRESA' | translate }}</mat-card-title>
      <mat-card-content>
        <mat-form-field appearance="outline" class="inputs-withHin">
          <mat-label>{{ 'ID_EMPRESA' | translate }}</mat-label>
          <input [formControl]="id_empresa" readonly matInput />
        </mat-form-field>
        <mat-form-field appearance="outline" class="inputs-withHin">
          <mat-label>{{ 'NOMBRE_EMPRESA' | translate }}</mat-label>
          <input [formControl]="razon_social" readonly matInput [placeholder]="'PLH_NOMBRE_EMP' | translate" />
        </mat-form-field>
      </mat-card-content>
    </form>
  </mat-card>