form {
    margin: auto;
    width: 80%;
    max-width: 400px;
    min-width: 200px;
}

.card-size {
    margin: auto;
    width: 90%;
    margin-top: 2vh;
    text-align: center;
}

.inputs-product {
    width: 100%;
}

.inputs-withHin {
    margin-bottom: 10px;
    width: 100%;
}

.example-right-align{
    text-align: right;
}

