<mat-card>
  <form [formGroup]="form">
    <mat-card-title>Datos de la empresa</mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="outline" class="inputs-withHin">
        <mat-label>Identificador de la empersa</mat-label>
        <input readonly matInput formControlName="id" />
        <mat-hint>El identificador no puede modificar</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline" class="inputs-withHin">
        <mat-label>Razon Social</mat-label>
        <input maxlength="100" formControlName="razonSocial" required matInput placeholder="Razon Social" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="inputs-withHin">
        <mat-label>RFC</mat-label>
        <input maxlength="13" matInput formControlName="rfc" placeholder="Ej. ASDF112233A11" (keyup)="mayus($event)" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="inputs-withHin">
        <mat-label>Dirección</mat-label>
        <input maxlength="250" formControlName="direccion" matInput value="Domicilio Concoido Tlamanca" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="inputs-withHin">
        <mat-label>Teléfono</mat-label>
        <input maxlength="10" minlength="7" formControlName="telefono" matInput placeholder="Ej. 5544900729">
      </mat-form-field>
      <mat-form-field appearance="outline" class="inputs-withHin">
        <mat-label>Correo Electrónico</mat-label>
        <input maxlength="50" minlength="3" type="email" formControlName="correo" matInput
          placeholder="Correo de la empresa">
      </mat-form-field>
      <button (click)="createEmpresa($event)" mat-button color="primary">
        Actualizar
      </button>
    </mat-card-content>
  </form>
</mat-card>