<div *ngIf="data.activo">
  <h3 mat-dialog-title>
    ¿Seguro que deseas borrar el producto {{ data.nombre }}({{ data.clave }})?
  </h3>
  <div mat-dialog-content>
    <p>
      Al borrar un producto esté permanecerá inactivo por un periodo de tiempo y
      puedes encontrarlo solo buscándolo por clave, despúes de ese tiempo el
      producto se borra definitivamente.
    </p>
  </div>
  <div mat-dialog-actions>
    <div class="center">
      <button mat-button color="primary" (click)="onNoClick()">Cancelar</button>
      <button mat-button color="primary" (click)="borrar()" cdkFocusInitial>
        Eliminar
      </button>
    </div>
  </div>
</div>

<div *ngIf="!data.activo">
  <h3 mat-dialog-title>
    ¿Seguro que deseas habilitar el producto {{ data.nombre }}({{ data.clave }})?
  </h3>
  <div mat-dialog-content>
    <p>
      El producto volverá a estar disponible para todas las operaciones dentro del sistema.
    </p>
  </div>
  <div mat-dialog-actions>
    <div class="center">
      <button mat-button color="primary" (click)="onNoClick()">Cancelar</button>
      <button mat-button color="primary" (click)="borrar()" cdkFocusInitial>
        Activar
      </button>
    </div>
  </div>
</div>