form {
    margin: auto;
    width: 100%;
    font-size: 12px;
    max-width: 500px;
}


.title {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px;
}

.right {
    text-align: right;
}

.rightCambio{
    padding-left: 50%;
}

.center {
    text-align: center;
}

.center > button {
    margin-right: 5px;
    margin-left: 5px;
}

.mat-form-field {
    display: block;
}