<form>
  <div class="title">Resumen de la venta</div>
  <div>
    <mat-form-field *ngIf="venta.id_cliente" appearance="outline">
      <mat-label>Cliente</mat-label>
      <input
        matInput
        disabled
        value="{{ venta.id_cliente }} |  {{ venta.nombre_cliente }}"
      />
    </mat-form-field>

    <mat-form-field
      *ngIf="venta.id_cliente && venta.tipo_descuento != 0"
      appearance="outline"
    >
      <mat-label>Descuento</mat-label>
      <input
        class="right"
        *ngIf="venta.tipo_descuento == 2"
        matInput
        disabled
        value="{{ venta.descuento }} %"
      />
      <input
        *ngIf="venta.tipo_descuento == 1"
        matInput
        disabled
        value="Precio Especial"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="inputs-withHin">
      <mat-label>Total: </mat-label>
      <input
        class="right"
        disabled
        matInput
        value="{{ venta.total | currency }}"
      />
    </mat-form-field>
    <mat-form-field appearance="outline" class="inputs-withHin">
      <mat-label>Cambio: </mat-label>
      <input class="right" disabled matInput value="{{ cambio | currency }}" />
    </mat-form-field>
    <div class="right">
      <mat-form-field class="recibido" appearance="outline">
        <mat-label>Recibido: </mat-label>
        <input
          class="right"
          type="number"
          (keyup)="calcularCambio()"
          (blur)="calcularCambio()"
          matInput
          [formControl]="recibido"
        />
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
    </div>
  </div>
  <div class="center">
    <button mat-raised-button (click)="onNoClick(false)" color="primary">
      Pagar
    </button>
    <button mat-raised-button (click)="onNoClick(true)" color="primary">
      Pagar  <mat-icon>print</mat-icon>
    </button>
  </div>
</form>
