.example-right-align{
    text-align: right;
}

.button_float {
    text-align: right;
}

.buton_actions {
    margin: 0 5px;
}

section.button {
    text-align: right;
    margin: 0;
}

.mat-dialog-content {
    height: 100%;
    min-height: 50vh;
}

.nobold {
    font-weight: 400;
}

.center {
    text-align: center;
}

form {
    margin: auto;
    width: 100%;
    font-size: 12px;
    max-width: 500px;
}


.title {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px;
}

.right {
    text-align: right;
}
.center {
    text-align: center;
}

.button {
    margin-right: 5px;
    margin-left: 5px;
    text-align: center !important;
}

.rightCambio{
    padding-left: 50%;
}

.mat-form-field {
    display: block;
}