<app-filtros-cliente (getCliente)="handleClienteAddToList($event)"></app-filtros-cliente>

<table *ngIf="dataSource.data.length > 0" (matSortChange)="sortDataMetod($event)" matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="editar">
    <th mat-header-cell *matHeaderCellDef>Editar</th>
    <td mat-cell *matCellDef="let element">
      <button (click)="fav(element)" color="accent" *ngIf="element.favorito" mat-icon-button aria-label="Botón quitar">
        <mat-icon>favorite</mat-icon>
      </button>
      <button (click)="fav(element)" *ngIf="!element.favorito" mat-icon-button aria-label="Botón favoritos">
        <mat-icon>favorite_outline</mat-icon>
      </button>
      <button (click)="edit(element)" mat-icon-button aria-label="Botón editar">
        <mat-icon>edit_outline</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="clave">
    <th mat-sort-header mat-header-cell *matHeaderCellDef>Clave de cliente</th>
    <td mat-cell *matCellDef="let element">
      {{ element.clave }}
    </td>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef="nombre">
    <th mat-sort-header mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let element">
      {{ element.nombre }}
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="descuento">
    <th mat-sort-header mat-header-cell *matHeaderCellDef class="column-price">
      Tipo de Descuento
    </th>
    <td mat-cell *matCellDef="let element" class="column-price">
      <span *ngIf="element.tipo_descuento !== '2'">{{
        element.tipo_descuento | tipoNomina
        }}</span>
      <span *ngIf="element.tipo_descuento === '2'">{{ element.descuento }}%</span>
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="direccion">
    <th mat-sort-header mat-header-cell *matHeaderCellDef>Direccion</th>
    <td mat-cell *matCellDef="let element" class="direction">{{ element.direccion }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="correo">
    <th mat-sort-header mat-header-cell *matHeaderCellDef>Correo</th>
    <td mat-cell *matCellDef="let element">{{ element.correo }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef class="column-price"></th>
    <td mat-cell *matCellDef="let element" class="column-price">
      <button color="primary" (click)="delete(element)" mat-icon-button aria-label="Botón quitar">
        <mat-icon matTooltip="Dar de baja el producto" *ngIf="element.activo">remove_circle_outline</mat-icon>
        <mat-icon matTooltip="Habilitar el producto" *ngIf="!element.activo">check_circle</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>