<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/inventario" routerLinkActive>Inventario</a>
      <a mat-list-item routerLink="/ventas" routerLinkActive>Ventas</a>
      <a mat-list-item routerLink="/clientes" routerLinkActive>Clientes</a>
      <a mat-list-item routerLink="/reporte" routerLinkActive>Reporte</a>
      <a mat-list-item routerLink="/configuracion" routerLinkActive>Configuración</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="example-spacer">DoDrex</span>
      <span class="username">{{username}}</span>
      <button (click)="logout()" mat-icon-button class="example-icon account-circle">
        <mat-icon matTooltip="Cerrar sesión">exit_to_app</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet *ngIf="id_empresa"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>