table {
    width: 80%;
    margin: 30px auto;
    margin-bottom: 0px;;
}

mat-paginator{
    width: 80%;
    margin: auto;
}
.column-price {
    text-align: right;
    padding-right: 30px;
}

tr.mat-footer-row {
    font-weight: bold;
}
  
.mat-table-sticky {
   border-top: 1px solid #e0e0e0;
}