<form class="example-form">
    <mat-form-field class="label-venta">
        <mat-label>Clave</mat-label>
        <input (keyup)="buscarCodigo($event.keyCode)" [formControl]="clave" matInput placeholder="Ej. HE001">
    </mat-form-field>

    <mat-form-field class="label-venta">
        <mat-label>Nombre / Apellido</mat-label>
        <input [formControl]="nombre" (keyup)="buscarNombre($event.keyCode)" matInput placeholder="Ej. Jose Juan">
    </mat-form-field>

    <mat-form-field class="label-venta">
        <mat-label>Buscaqueda especial </mat-label>
        <mat-select [formControl]="listas">
            <mat-option (click)="getFavs()" value="1">Favoritos</mat-option>
            <mat-option  (click)="getCancelado()" value="4">Deshabilitados</mat-option>
        </mat-select>
    </mat-form-field>

    <button  type="button" (click)="openDialog()" class="autorenew" mat-mini-fab>
        <mat-icon>add</mat-icon>
    </button>
</form>