.example-form {
    width: 100%;
    margin-top: 30px;
    text-align: center;
  }
  
  .label-venta {
    margin: 10px;
  }

  .autorenew {
    position: absolute;
    right: -15px;
    top: -8px;
    bottom: 3px;
   }