table {
    width: 80%;
    margin: 30px auto;
  }

.column-price {
    text-align: right;
    padding-right: 30px;
}

tr.mat-footer-row {
    font-weight: bold;
}
  
.mat-table-sticky {
   border-top: 1px solid #e0e0e0;
}

.nameCliente {
    width: 100%;
}

.nameClienteText {
    font-size: 12px;
}

.center {
    text-align: center;
}

.cotizacion {
    margin-right: 5px;
}