<form [formGroup]="form" (ngSubmit)="add($event)">
  <div class="title">{{ 'DATOS_CLIENTE' | translate }}</div>
  <mat-dialog-content>
    <mat-form-field appearance="outline" class="inputs-withHin">
      <mat-label>{{ 'CLAVE_CLIENTE' | translate }}</mat-label>
      <input formControlName="clave" readonly matInput />
      <mat-hint>{{ 'CLAVE_NO_EDIT' | translate }}</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" class="inputs-withHin">
      <mat-label>{{ 'NOMBRE' | translate }}</mat-label>
      <input formControlName="nombre" required maxlength="50" minlength="3" matInput
        [placeholder]="'PLH_NOMBRE' | translate" />
      <mat-hint>{{ 'NOMBRE_UPPERCASE' | translate }}</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="inputs-withHin">
      <mat-label>{{ 'TELEFONO' | translate }}</mat-label>
      <input maxlength="10" minlength="7" formControlName="telefono" matInput
          [placeholder]="'PLH_TEL' | translate">
    </mat-form-field>
    <mat-form-field appearance="outline" class="inputs-withHin">
      <mat-label>{{ 'DIRECCION' | translate }}</mat-label>
      <input formControlName="direccion" maxlength="250" minlength="3" matInput />
      <textarea matInput></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline" class="inputs-product">
      <mat-label>{{ 'TIPO_PRECIO' | translate}}</mat-label>
      <mat-select formControlName="tipo_descuento">
        <mat-option value="0">{{ 'SIN_DESCUENTO' | translate}}</mat-option>
        <mat-option *ngIf="rol === rolAdmin" value="1">{{ 'PRECIO_ESPECIAL' | translate }}</mat-option>
        <mat-option *ngIf="rol === rolAdmin" value="2">{{ 'DESCUENTO_EXCLUSIVO' | translate }}</mat-option>
        <mat-option *ngIf="rol === rolAdmin" value="3">{{ 'PRECIO_MAYOREO' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="rol === rolAdmin" class="div_mayoreo" [@openClose]="form.value.tipo_descuento === '2' ? 'open' : 'closed'">
      <mat-form-field appearance="outline" class="inputs-withHin">
        <mat-label>{{ 'DESCUENTO' | translate }}</mat-label>
        <input matInput formControlName="descuento" type="number" min="0" max="100" class="example-right-align" />
        <mat-hint>{{ 'DESCUNETO_HINT' | translate }}</mat-hint>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <section>
    <button type="submit" [matTooltip]="'AGREGAR' | translate" class="buton_actions" mat-mini-fab color="primary">
      <mat-icon>save</mat-icon>
    </button>
    <button [matTooltip]="'FAVORITO' | translate" (click)="isFavo()" type="button" color="accent"
      *ngIf="form.value.favorito" mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>

    <button [matTooltip]="'FAVORITO' | translate" (click)="isFavo()" type="button" *ngIf="!form.value.favorito"
      mat-icon-button>
      <mat-icon>favorite_outline</mat-icon>
    </button>
  </section>
</form>