<div id="nota">
    <div class="titulo">
        <h1>{{empresa.razon_social | uppercase}}</h1>
    </div>
    <div class="bold direccion">{{empresa.direccion}}
        <br> {{empresa.correo}}
        <br> Tel. {{empresa.telefono}}
    </div>
    <div class="folio">
        FOLIO: <span class="bold">{{venta.id}}</span>
    </div>
    <div class="datos">
        <div><span class="bold">Fecha y hora:</span> {{fecha | date: 'short' }} </div>
        <div *ngIf="venta.nombre_cliente"><span class="bold">Nombre:</span> {{cliente.nombre}} </div>
        <div *ngIf="cliente.correo"><span class="bold">Correo:</span> {{cliente.correo}}</div>
    </div>

    <table>
        <tr>
            <th class="textleft">Producto</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
        </tr>
        <tr *ngFor="let prod of venta.productos">
            <td>{{prod.nombre}}</td>
            <td class="textrigth">{{prod.cantidad}}</td>
            <td class="textrigth">{{prod.subtotal | currency}}</td>
        </tr>
        <tfoot>
            <td></td>
            <td class="bold textrigth">Total</td>
            <td class="bold textrigth">{{venta.total | currency}}</td>
        </tfoot>

    </table>

    <div class="footer">
        <p>GRACIAS POR SU PREFERENCIA. LO ATENDIÓ <span class="bold">{{venta.nombre_usuario | uppercase}}</span></p>
    </div>
</div>

<div id="ticket">
    <div class="titulo">
        <h1>{{empresa.razon_social | uppercase}}</h1>
    </div>
    <div class="bold direccion">{{empresa.direccion}}
        <br> {{empresa.correo}}
        <br> Tel. {{empresa.telefono}}
    </div>
    <div class="folio">
        FOLIO: <span class="bold">{{venta.id}}</span>
    </div>
    <div class="datos">
        <div><span class="bold">Fecha y hora:</span> {{fecha | date: 'short' }} </div>
        <div *ngIf="venta.nombre_cliente"><span class="bold">Nombre:</span> {{cliente.nombre}} </div>
        <div *ngIf="cliente.correo"><span class="bold">Correo:</span> {{cliente.correo}}</div>
    </div>

    <table>
        <tr>
            <th class="textleft" colspan="2">Productos</th>
        </tr>
        <tr *ngFor="let prod of venta.productos">
            <td>{{prod.nombre}}</td>
            <td class="textrigth">{{prod.cantidad}}</td>
            <td class="textrigth">{{prod.subtotal | currency}}</td>
        </tr>
        <tfoot>
            <td></td>
            <td class="bold textrigth">Total</td>
            <td class="bold textrigth">{{venta.total | currency}}</td>
        </tfoot>

    </table>

    <div class="footer">
        <p>GRACIAS POR SU PREFERENCIA. LO ATENDIÓ <span class="bold">{{venta.nombre_usuario | uppercase}}</span></p>
    </div>
</div>