form {
    margin: auto;
    width: 100%;
    font-size: 12px;
    max-width: 500px;
    min-width: 200px;
}


.title {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px;
}

.inputs-product {
    width: 100%;
}

.inputs-withHin {
    margin-bottom: 10px;
    width: 100%;
}

.example-right-align{
    text-align: right;
}

.button_float {
    text-align: right;
}

section {
    text-align: right;
    margin: 0;
}

.autorenew {
 position: absolute;
 right: 2px;
 top: -3px;
}

.mat-dialog-content {
    height: 100%;
    min-height: 50vh;
}

.inputs-withHin {
    margin-bottom: 10px;
    width: 100%;
}
