<form [formGroup]="form" (ngSubmit)="add($event)">
  <div class="title">{{ 'DATOS_PRODUCTO' | translate }}</div>
  <mat-dialog-content>
    <mat-form-field *ngIf="!data.operacion" appearance="outline" class="inputs-withHin">
      <mat-label>{{ 'CLAVE_PRODUCTO' | translate }}</mat-label>
      <input formControlName="clave" required maxlength="50" minlength="1" matInput
        [placeholder]="'PLH_CLAVE' | translate" />
      <mat-hint>{{ 'CLAVE_HINT' | translate }}</mat-hint>
      <button type="button" (click)="generateClave()" class="autorenew" [matTooltip]="'CLAVE_AUTO' | translate"
        mat-button color="primary">
        <mat-icon matSuffix>autorenew</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field *ngIf="data.operacion === 'update'" appearance="outline" class="inputs-withHin">
      <mat-label>{{ 'CLAVE_PRODUCTO' | translate }}</mat-label>
      <input formControlName="clave" readonly matInput />
      <mat-hint>{{ 'CLAVE_NO_EDIT' | translate }}</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="inputs-withHin">
      <mat-label>{{ 'NOMBRE' | translate}}</mat-label>
      <input formControlName="nombre" required maxlength="100" minlength="3" matInput />
      <mat-hint>{{ 'NOMBRE_LOWERCASE' | translate}}</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="inputs-withHin">
      <mat-label>{{ 'CANTIDAD' | translate }}</mat-label>
      <input formControlName="cantidad" required max="999999" min="0" matInput type="number"
        class="example-right-align" />
      <mat-hint>{{ 'CANTIDAD_STOCK' | translate }}</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="inputs-withHin">
      <mat-label>{{ 'PRECIO_UNITARIO' | translate }}</mat-label>
      <input matInput formControlName="precio_unitario" required max="999999" min="0" type="number" placeholder="00.00"
        class="example-right-align" />
      <span matPrefix>$&nbsp;</span>
      <mat-hint>{{ 'PRECIO_HINT' | translate }}</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="inputs-withHin">
      <mat-label>{{ 'PRECIO_COMPRA' | translate }}</mat-label>
      <input matInput formControlName="precio_compra" required max="999999" min="0"
        [placeholder]="'PLH_PRECIO' | translate" type="number" class="example-right-align" />
      <span matPrefix>$&nbsp;</span>
      <mat-hint>{{ 'PRECIO_HINT' | translate }}</mat-hint>
    </mat-form-field>
    <!--<mat-form-field appearance="outline" class="inputs-withHin">
      <mat-label>{{ 'DESCRIPCION' | translate }}</mat-label>
      <input matInput formControlName="descripcion" />
      <textarea matInput></textarea>
      <mat-hint>{{ 'DESCRIPCION_HINT' | translate }}</mat-hint>
    </mat-form-field>-->
    <mat-checkbox [formControl]="hideMayoreoControl">{{ 'PRECIOS_ESPECIA_BAN' | translate }}</mat-checkbox>
    <div class="div_mayoreo" [@openClose]="hideMayoreoControl.value ? 'open' : 'closed'">
      <mat-form-field appearance="outline" class="inputs-withHin">
        <mat-label>{{ 'CANTIDAD_MAY' | translate }}</mat-label>
        <input matInput formControlName="cantidad_mayoreo" max="999999" min="0" type="number"
          class="example-right-align" />
        <mat-hint>{{ 'CANTIDAD_MAY_HINT' | translate }}</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline" class="inputs-withHin">
        <mat-label>{{ 'PRECIO_MAYOREO' | translate }}</mat-label>
        <input matInput formControlName="precio_mayoreo" max="999999" min="0" [placeholder]="'PLH_PRECIO' | translate"
          type="number" class="example-right-align" />
        <span matPrefix>$&nbsp;</span>
        <mat-hint>{{ 'PRECIO_HINT' | translate }}</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline" class="inputs-product">
        <mat-label>{{ 'PRECIO_ESPECIAL' | translate }}</mat-label>
        <input matInput formControlName="precio_especial" max="999999" min="0" [placeholder]="'PLH_PRECIO' | translate"
          type="number" class="example-right-align" />
        <span matPrefix>$&nbsp;</span>
        <mat-hint>{{ 'PRECIO_HINT' | translate }}</mat-hint>
      </mat-form-field>
      <input type="hidden" formControlName="favorito" />
      <input type="hidden" formControlName="operacion" />
    </div>
  </mat-dialog-content>
  <section class="button">
    <button [matTooltip]="'AGREGAR' | translate" type="submit" class="buton_actions" mat-mini-fab color="primary">
      <mat-icon>save</mat-icon>
    </button>
    <button [matTooltip]="'FAVORITO' | translate" (click)="isFavo()" type="button" color="accent"
      *ngIf="form.value.favorito" mat-icon-button aria-label="Botón quitar">
      <mat-icon>favorite</mat-icon>
    </button>

    <button [matTooltip]="'FAVORITO' | translate" (click)="isFavo()" type="button" *ngIf="!form.value.favorito"
      mat-icon-button aria-label="Botón favoritos">
      <mat-icon>favorite_outline</mat-icon>
    </button>
  </section>
</form>