<h1 mat-dialog-title class="title">Datos del producto</h1>
<div mat-dialog-content>
  <form>
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input readonly matInput value="{{producto.nombre}}" />
    </mat-form-field>
    <mat-form-field *ngIf="producto.cantidad_mayoreo">
      <mat-label>Cantidad Mayoreo</mat-label>
      <input readonly matInput value="{{producto.cantidad_mayoreo | number: '0.0-0' }}" />
    </mat-form-field>
    <mat-form-field  *ngIf="producto.precio_mayoreo">
      <mat-label>Precio Mayoreo</mat-label>
      <input readonly matInput value="{{producto.precio_mayoreo | currency}}" />
    </mat-form-field>
    <mat-form-field  *ngIf="producto.precio_especial">
      <mat-label>Precio Especial</mat-label>
      <input readonly matInput value="{{producto.precio_especial | currency}}" />
    </mat-form-field>
    <div class="description" *ngIf="producto.descripcion">
      <mat-form-field class="description">
        <mat-label>Descripción</mat-label>
        <input
          matInput
          readonly
          value="{{producto.descripcion}}"
        />
      </mat-form-field>
    </div>
  </form>
</div>
